/* Google font cdn */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --primary-color: #3A3A3A;
    --primary-font-size: 16px;
}

* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
section {
    margin: 8rem auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* Re-usable classes */
.container {
    width: 82.5%;
    max-width: 1440px;
    margin: auto;
}
.btn-primary {
    font-size: var(--primary-font-size);
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    color: #FFFFFF;
    padding: 1rem 2.4rem;
    border: none;
}

/* Header styles */
header {
    margin: 5rem 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .hamburger, .cart {         /* for small devices */
    display: none;
    font-size: 2.4rem;
}
.navbar h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--primary-color);
}
.navbar .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.4rem;
}
.navbar .nav-container li a {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 600;
}

/* Banner part */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.banner-container h1 {
    font-size: 5.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.banner-container p {
    font-weight: 600;
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    margin: 1.6rem 0;
    width: 42.5%;
}
.banner-info .btn-primary i {
    margin-left: 1rem;
}
.banner-img {
    width: 47.5rem;
    height: 47.5rem;
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
}
.banner-img img {
    width: 92%;
    margin-top: 3rem;
}

/* Sponsors section styles */
.sponsors-container {
    width: 77%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsla(0, 0%, 23%, 0.3);
    border-bottom: 1px solid hsla(0, 0%, 23%, 0.3);
    padding: 3.5rem 0;
    flex-wrap: wrap;
    gap: 1rem;
}













/* For medium and small devices */
@media screen and (max-width: 768px) {
    /* Reusable classes */
    .container {
        width: 90%;
    }
    /* Header styles */
    .navbar .hamburger, .cart {
        display: inline;
    }
    .navbar h3 {
        font-size: var(--primary-font-size);
    }
    .navbar .nav-container {
        display: none;
    }
    /* Bannar styles */
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-container p {
        width: 100%;
        margin: auto;
        padding: 15px 0 20px;
    }
    .banner-img {
        width: 72%;
        height: auto;
        text-align: center;
    }
    .banner-img img {
        margin-top: 0;
        padding: 2rem 0;
    }
    .banner-info {
        text-align: center;
    }
    .banner-container h1 {
        font-size: 2.8rem;
    }
    .banner-container p {
        font-size: 1.4rem;
    }

}